# Автоответ только для языка, страны и локали.
d-i debian-installer/locale string ru_RU

# Значения можно указывать отдельно для каждого параметра.
#d-i debian-installer/language string ru
#d-i debian-installer/country string RU
#d-i debian-installer/locale string ru_RU.UTF-8
# В добавок, можно указать дополнительные локали для генерации.
#d-i localechooser/supported-locales multiselect en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select ru
d-i netcfg/choose_interface select auto
# Если вы выберете ftp, то mirror/country string устанавливать не нужно.
#d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string mirror.yandex.ru
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string http://ldap1.unix.networks:3142/


d-i partman-auto/method string lvm
d-i partman-auto/choose_recipe select atomic
d-i partman-md/confirm boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean false
d-i partman/confirm_nooverwrite boolean false

# Устанавливаемая версия.
#d-i mirror/suite string testing
# Версия загружаемых компонент (необязательно).
#d-i mirror/udeb/suite string testing

tasksel tasksel/first multiselect none
d-i pkgsel/include string openssh-server sudo autofs wget screen libpam-ldapd x-window-system-core wmaker menu xdm gnustep
d-i pkgsel/upgrade select full-upgrade

d-i clock-setup/ntp-server string ldap1.unix.networks
d-i grub-installer/only_debian boolean true

d-i grub-installer/with_other_os boolean true
d-i passwd/make-user boolean false
#debconf nslcd
nslcd nslcd/ldap-auth-type select none
nslcd nslcd/ldap-base string dc=unix,dc=networks
nslcd nslcd/ldap-uris string ldap:///ldap1.unix.networks/
nslcd nslcd/ldap-starttls boolean false



d-i preseed/late_command string \
in-target wget -O /tmp/configs.tar.gz http://ldap1/configs.tar.gz ; \
in-target tar zxf /tmp/configs.tar.gz -C /etc/ 

